.page-header
  %h1 Gallery

%h2 Videos
.row
  .col-md-4
    = link_to (image_tag "graph.jpg", :size => "250x200"), "/visualizations/1"
  .col-md-4
    = image_tag "graph.jpg", :size => "250x200"
  .col-md-4
    = image_tag "graph.jpg", :size => "250x200"

%h2 Grades
.row
  .col-md-4
    = image_tag "graph.jpg", :size => "250x200"
  .col-md-4
    = image_tag "graph.jpg", :size => "250x200"
  .col-md-4
    = image_tag "graph.jpg", :size => "250x200"

%h2 Duration
.row
  .col-md-4
    = image_tag "graph.jpg", :size => "250x200"
  .col-md-4
    = image_tag "graph.jpg", :size => "250x200"
  .col-md-4
    = image_tag "graph.jpg", :size => "250x200"

