%h1.viz-name{:data => {:vizid => @visualization.id}}
  = @visualization.name
  %small= "by #{@visualization.user.username}"

%select.form-control.offering
  - @visualization.offerings.each do |offering|
    %option{:value => offering.id}
      = offering.name

.jumbotron.visualization-panel
  %iframe.viz-iframe{:src => @visualization.offerings.first.uploads.find_by_visualization_step_id(6).content.url, :height => 500, :width => 1000, :scrolling => 'no'}

.comment
  %h2
    %small
      = @visualization.description

.pipeline
  %ul.nav.nav-pills
    %li
      %a{:href => "#", :data =>{:vizstep => 1}}
        .pipeline-image
          %i.glyphicon.glyphicon-hdd
        .pipeline-text
          %strong MOOCDB

    %li.active
      %a{:href => "#", :data =>{:vizstep => 2}}
        .pipeline-image
          %i.glyphicon.glyphicon-arrow-right
        .pipeline-text
          %strong Data Extraction Script 

    %li
      %a{:href => "#", :data =>{:vizstep => 3}}
        .pipeline-image
          %i.glyphicon.glyphicon-file
        .pipeline-text
          %strong Exported Data

    %li
      %a{:href => "#", :data =>{:vizstep => 4}}
        .pipeline-image
          %i.glyphicon.glyphicon-arrow-right
        .pipeline-text
          %strong Data Aggregation Script 

    %li
      %a{:href => "#", :data =>{:vizstep => 5}}
        .pipeline-image
          %i.glyphicon.glyphicon-file
        .pipeline-text
          %strong Public Data

    %li
      %a{:href => "#", :data =>{:vizstep => 6}}
        .pipeline-image
          %i.glyphicon.glyphicon-arrow-right
        .pipeline-text
          %strong Data to Vis Script

    %li
      %a{:href => "#", :data =>{:vizstep => 7}}
        .pipeline-image
          %i.glyphicon.glyphicon-stats
        .pipeline-text
          %strong Visualization

%a.download-zip
  %button.btn.btn-primary.btn-lg.download-zip
    %i.glyphicon.glyphicon-download
    %span.download-text
      &nbsp;Download ZIP of all files

.code
  %h2.file-name script.py
  %blockquote
    %pre.prettyprint#code-block
      %code

%a.download-file{:href => @visualization.offerings.first.uploads.find_by_visualization_step_id(2).content.url(:original, false)}
  %button.btn.btn-success.btn-lg.download-file
    %i.glyphicon.glyphicon-download
    %span.download-text
      &nbsp;Download File



