.signup-box
  .signup-title
    %h2 Signup
  .signup-form
    = form_for @user, :html => {:class => "form-horizontal"}, :url => users_path do |form|
      .control-group
        %label.control-label{:for => 'username'} Username
        .controls
          = form.text_field :username, :placeholder => 'username', :id => 'username'  
      
      = form.text_field :email, :placeholder => 'email'
      %br
      = form.password_field :password, :placeholder => 'password' 
      %br
      = form.password_field :password_confirmation, :placeholder => 'password confirmation'
      %br
      = form.submit 'Signup'

